nav {
	display: flex;
	align-items: center;

}

nav a {
	color: #2525249c;
	text-decoration: none;
	padding: 1rem;
	transition: color 0.3s ease;
	font-size: 1.5rem;
}

nav a:hover {
	color: #252524bd;
}

nav a.active {
	color: #252524;
}

@media screen and (max-width: 992px) {
	nav {
		padding-right: 0;
		margin-top: 1rem;
	}
}

@media screen and (max-width: 768px) {
	nav {
		justify-content: center;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 2rem;
	}	
}


@media screen and (max-width: 460px) {
	nav {
		display: flex;
		justify-content: space-between;
	}
	
	nav a {
		font-size: 1.2rem;
		padding: 0;

	}
}