input, textarea, button {
	box-sizing: border-box;
	display: block;
	width: 100%;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-bottom: 1.5rem;
	border-radius: .25rem
}

button {
	background-color: #252524;
	color: #e7ecef;
	padding: .5rem;
	cursor: pointer;
	transition: 0.3s ease;
	font-weight: 600;
	border: 2px solid #252524;
}

button:hover {
	background-color: #252524d7;
}

button:active {
	color: #080808;
	background-color: white;
}

input {
	font-family: inherit;
}

textarea {
	resize: none;
	height: 12rem;
	font-family: inherit;
}

.input-field {
	position: relative;
	margin-bottom: 20px;
}

.input-field label {
	position: absolute;
	left: 1rem;
	top: .75rem;
	transition: 0.075s ease;
	color: #5858586c;
}

.input-field input,
.input-field textarea {
	width: 100%;
	padding: .5rem .9rem .5rem;
	border: 2px solid #ddd;
	outline: none;
	transition: border-color 0.2s;
}

/* When input-field has class has-value or input is focused, move the label up */
.input-field.has-value label,
.input-field input:focus + label,
.input-field textarea:focus + label {
	top: -1rem;
	font-size: .75rem;
	color: #555;
}

/* Adjust border color when input is focused */
.input-field input:focus,
.input-field textarea:focus {
	border-color: #555;
}

.error {
	position: absolute;
	top: .875rem;
	right: 1rem;
	color: #ce4760;
	font-size: 0.75em;
}

/* Change the autofill color */
input:-webkit-autofill,
textarea:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    color: #252524 !important;
}

/* Media query for larger screens */
@media screen and (min-width: 992px) {
	.input-field, button {
			max-width: 40rem;
			margin: 0 auto;
			
	}
}