input, textarea, button {
	box-sizing: border-box;
	display: block;
	width: 100%;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-bottom: 1.5rem;
	border-radius: .25rem
}

button {
	background-color: #252524;
	color: #e7ecef;
	padding: .5rem;
	transition: 0.3s ease;
}

button:hover {
	background-color: #252524bd;
}

button.active {
	color: #252524;
}

textarea {
	resize: none;
	height: 12rem;
}

.input-field {
	position: relative;
	margin-bottom: 20px;
}

.input-field label {
	position: absolute;
	left: 1rem;
	top: .75rem;
	transition: 0.075s ease;
	color: #aaa;
}

.input-field input,
.input-field textarea {
	width: 100%;
	padding: .5rem .9rem .5rem;
	border: 1px solid #ddd;
	outline: none;
	transition: border-color 0.2s;
}

/* When input-field has class has-value or input is focused, move the label up */
.input-field.has-value label,
.input-field input:focus + label,
.input-field textarea:focus + label {
	top: -15px;
	font-size: 12px;
	color: #555;
}

/* Adjust border color when input is focused */
.input-field input:focus,
.input-field textarea:focus {
	border-color: #555;
}

/* Media query for larger screens */
@media screen and (min-width: 992px) {
	.input-field, button {
			width: 40rem;
			margin: 0 auto;
	}
}