.header-div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
	.header-div {
		flex-direction: column;
		margin-bottom: 0;
	}
}