.work-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* 2 columns */    
	padding: 1rem;
	gap: 1rem
}

@media screen and (max-width: 992px) {
	.work-grid {
		padding: 0;
		grid-template-columns: repeat(1, 1fr)
		
	}
}